@charset "utf-8";

/* CSS Document */
body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	overflow: none;
	overflow-y: scroll;
}

form,input {
	margin: 0px;
	padding: 0px;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: #70a7ec;
}

a:hover {
	text-decoration: none;
}

ul,li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border: 0;
}

dl,dd {
	padding: 0;
	margin: 0;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  background-color: #2ED198;
  background-image: -moz-linear-gradient(top, #2ED198, #0ac38a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ED198), to(#0ac38a));
  background-image: -webkit-linear-gradient(top, #2ED198, #0ac38a);
  background-image: -o-linear-gradient(top, #2ED198, #0ac38a);
  background-image: linear-gradient(to bottom, #2ED198, #0ac38a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ED198', endColorstr='#0ac38a', GradientType=0);
  border-color: #0ac38a #0ac38a #0ac38a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0ac38a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #0ac38a;
  *border: 0;
  border-bottom-color: #0ac38a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.header {
	margin: 0 auto;
	width: 1000px;
	height: 40px;
	background: #2ED198;
}

.nav {
	width: 100%;
	height: 40px;
}

.classify {
	float: left;
	width: 190px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	line-height: 40px;
	color: #FFF;
	font-weight: bold;
}

.search {
	float: left;
	margin-left: 70px; 
	width: 500px;
	height: 40px;
}

.search input {
	float: left;
	width: 420px;
	height: 24px;
	margin-top: 6px;
	font-size: 16px;
	border: 2px solid #058926;
}

.search a {
	float: left;
	width: 75px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	margin-top: 6px;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	background: #058926;
}

.cart {
	float: right;
	margin-right: 20px;
}

.cart img {
	width: 24px;
	height: 24px;
	margin-top: 8px;
}

.mc {
	margin: 0 auto;
	width: 1000px;
}

.mc-top {
	width: 100%;
	height: 250px;
}

.mc-top-l {
	float: left;
	width: 196px;
	border: 2px solid #2ED198;
	border-top: 0px;
	height: 248px;
}

.mc-top-l ul {
	width: 100%;
	height: 100%;
	float: left;
}

.mc-top-l ul li {
	width: 188px;
	height: 29px;
	padding-left: 7px;
	font-size: 14px;
	line-height: 30px;
	margin-top: 2px;
	background: #FAFAFA;
}

.mc-top-l ul li img {
	margin-right: 5px;
}

.mc-top-c {
	float: left;
	width: 530px;
	height: 240px;
	padding: 10px;
	padding-bottom: 0;
}

.mc-top-c img {
	width: 530px;
	height: 240px;
}

.mc-top-r {
	float: right;
	width: 248px;
	height: 238px;
	margin-top: 10px;
	border: 1px solid #F1F1F1;
}

.sale-d {
	float: left;
	width: 240px;
	margin-top: 11px;
	padding-left: 8px;
}

.sale-d-l {
	float: left;
	width: 50px;
	text-align: right;
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}

.sale-d-r {
	float: left;
	width: 160px;
	margin-left: 5px;
}

.sale-d-r input {
	width: 158px;
	height: 18px;
	border: 1px solid #666666;
}

.addr {
	height: 60px;
	width: 158px;
	border: 1px solid #666666
}

.btn-min {
	padding: 0px 6px;
}

.mc-details {
	width: 100%;
}

.mc-detail {
	width: 100%;
	height: 220px;
	margin-top: 20px;
	border-bottom: 1px solid #F1F1F1;
}

.mc-d-menu {
	width: 1000px;
	height: 29px;
	border-bottom: 1px solid #F1F1F1;
}

.mc-d-menu ul {
	width: 984px;
	height: 29px;
	margin-left: 8px;
}

.mc-d-menu ul li {
	height: 28px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 20px;
	line-height: 30px;
	color: #5b6974;
	display: inline-block;
	border: 1px solid #F1F1F1;
	border-bottom: 0px;
  	-webkit-border-top-left-radius: 4px;
  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  	cursor: pointer;
}

.mc-d-menu ul .active {
	color: #FFF;
	background: #2ED198;
	border: 1px solid #2ED198;
	border-bottom: 0px;
}

.mc-d-list {
	width: 1000px;
	height: 200px;
}

.mc-d-list ul {
	width: 1000px;
	height: 200px;
}

.mc-d-list ul li {
	width: 180px;
	height: 175px;
	padding: 10px 8px 5px;
	border-right: 1px dashed #F2F2F2;
	display: inline-block;
}

.mc-d-list ul li img {
	width: 180px;
	height: 135px;
}

.mc-d-list ul li font {
	width: 180px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	display: block;
}

.mc-d-list ul li strong {
	width: 180px;
	height: 20px;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	font-family: verdana;
}

.footer {
	margin: 20px auto;
	width: 1000px;
	padding-top: 10px;
	border-top: 1px solid #F1F1F1;
}

.footer-top {
	float: left;
	width: 1000px;
	height: 150px;
}

.footer-top span {
	float: left;
	width: 120px;
	height: 140px;
	margin: 0 70px 0 8px;
}

.footer-top span img {
	float: left;
	width: 120px;
	height: 120px;
}

.footer-top span font {
	float: left;
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.footer-bottom {
	float: left;
	width: 1000px;
	height: 40px;
	padding-top: 10px;
	border-top: 1px solid #F1F1F1;
}

.footer-bottom span {
	float: left;
	width: 1000px;
	line-height: 24px;
	text-align: center;
}
